.center {
    display: flex;
    justify-content: center;
}

.content {
    flex-direction: column;
    width: 80%;
}

.menu {
    display: flex;
}

.menu-col {
    width: 50%;
    margin: 10px;
}

.list {
    margin-top: 20px;
    padding: 10px;
}